/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

	/**
   * colors
   */

	--raisin-black-2: hsl(245, 16%, 16%);
	--raisin-black-1: hsl(244, 17%, 19%);
	--majorelle-blue: hsl(245, 67%, 59%);
	--ghost-white-1: hsl(240, 100%, 99%);
	--ghost-white-2: hsl(228, 50%, 96%);
	--white-opacity: hsla(0, 0%, 100%, 0.5);
	--independence: hsl(245, 17%, 27%);
	--lavender-web: hsl(247, 69%, 95%);
	--eerie-black: hsl(210, 11%, 15%);
	--cool-gray: hsl(244, 17%, 61%);
	--sapphire: hsl(211, 100%, 35%);
	--white: hsl(0, 0%, 100%);

	/**
   * typography
   */

	--ff-quicksand: "Quicksand", sans-serif;
	--ff-mulish: "Mulish", sans-serif;

	--fs-1: 36px;
	--fs-2: 28px;
	--fs-3: 20px;
	--fs-4: 17px;
	--fs-5: 16px;
	--fs-6: 15px;
	--fs-7: 14px;

	--fw-500: 500;
	--fw-600: 600;
	--fw-700: 700;

	/**
   * transition
   */

	--transition: 0.25s ease;

	/**
   * spacing
   */

	--section-padding: 80px;

}


/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

a,
img,
span,
input,
label,
button,
ion-icon,
textarea {
	display: block;
}

button {
	border: none;
	background: none;
	font: inherit;
	cursor: pointer;
}

input,
textarea {
	border: none;
	font: inherit;
	width: 100%;
}

html {
	font-family: var(--ff-quicksand);
	scroll-behavior: smooth;
}

body {
	background: var(--white);
}

/* REUSE STYLE */

.container {
	padding-inline: 15px;
}

.h1, .h2, .h3 {
	color: var(--independence);
	font-family: var(--ff-mulish);
	line-height: 1.2;
}

.h1 {
	font-size: var(--fs-1);
}

.h2 {
	font-size: var(--fs-2);
}

.h3 {
	font-size: var(--fs-3);
}

.btn {
	font-size: var(--fs-6);
	font-weight: var(--fw-700);
	padding: 15px 30px;
	border-radius: 4px;
	transition: var(--transition);
}

.btn:is(:hover, :focus) { 
	transform: translate(-2px)
}

.btn-primary {
	background: var(--majorelle-blue);
	color: var(--white);
}

.btn-primary:is(:hover, :focus) {
	--majorelle-blue: hsl(245, 67%, 55%);
	box-shadow: 0 3px 10px hsla(245, 67%, 59%, 0.5);
}

.btn-outline {
	border: 1px solid var(--majorelle-blue);
	color: var(--majorelle-blue);
}

.btn-outline:is(.hover, :focus) {
	background: var(--majorelle-blue);
	color: var(--white);
	box-shadow: 0 3px 10px hsla(245, 67%, 59%, 0.5);
}

.btn-secondary {
	background: hsla(245, 675%, 59%, 0.15);
	color:var(--majorelle-blue);
}

/* hero */

.hero {
	padding: 125px 0 var(--section-padding);
	background:var(--ghost-white-1);
}

.hero-content {
	margin-bottom: 80px;
}

.hero-title {
	margin-bottom: 25px;
}

.hero-text {
	color:var(--cool-gray);
	font-size: var(--cool-gray);
	font-size: var(--fs-4);
	line-height:1.8%;
	margin-bottom: 40px;
}

.form-text {
	color:var(--independence);
	font-weight: var(--fw-500);
	line-height: 1.8;
	margin-bottom: 20px;
}

.form-text span {
	display: inline-block;
	font-size: 20px;
}

.email-field {
	background: var(--ghost-white-2);
	padding: 17px 20px;
	border-radius:8px;
	margin-bottom: 20px;
}

.email-field:focus {
	outline-color: var(--majorelle-blue);
}

.hero .btn-primary {
	margin-inline: auto;
}

.hero-banner img {
	width: 100%;
}